{% extends "base.jinja2" %}

{% set title = "Not found" %}
{% set subtitle = "404" %}

{% block main %}
    <div class="bg-gray-800 shadow-xl rounded-lg p-8 max-w-4xl mx-auto">
        <div class="prose text-gray-200">
            Page not found :(
        </div>
    </div>
{% endblock main %}