<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/vanillaHTML.css" />
    <style>
        body {
            margin: 0 auto;
            padding: 3rem 0;
            width: min(50rem, 100%);
        }
    </style>
</head>
<body>
{% block body %}

{% endblock body %}
</body>
</html>