{% extends "base.jinja2" %}

{% block main %}
    <div class="bg-gray-800 shadow-xl rounded-lg p-8 max-w-4xl mx-auto">
        <div class="prose text-gray-200">
            {{ html }}
        </div>
    </div>
{% endblock main %}